<!DOCTYPE html>
<html>
<head>
  <title>Menu de Navigation</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/materiel">Matériels</a></li>
      <li><a href="/commandes">Commandes</a></li>
    </ul>
  </nav>
</body>
</html>
